<!DOCTYPE html>
<html lang="en">
    {% load static %}
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <title>TECS | {% block title %}{% endblock %}</title>
        <meta content="" name="descriptison">
        <meta content="" name="keywords">
        <!-- Favicons -->
        <link href="{% static 'assets/img/favicon.png'%}" rel="icon">
        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
        <!-- Vendor CSS Files -->
        <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
        <link href="{% static 'assets/vendor/icofont/icofont.min.css'%}" rel="stylesheet">
        <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css'%}" rel="stylesheet">
        <link href="{% static 'assets/vendor/venobox/venobox.css'%}" rel="stylesheet">
        <link href="{% static 'assets/vendor/owl.carousel/assets/owl.carousel.min.css'%}" rel="stylesheet">
        <link href="{% static 'assets/vendor/aos/aos.css'%}" rel="stylesheet">
         <!-- Template Main CSS File -->
        <link href="{% static 'assets/css/style.css'%}" rel="stylesheet">
        
    </head>
    <body>
      <!-- ======= Top Bar ======= -->
      <section id="topbar" class="d-none d-lg-block">
        <div class="container d-flex">
          <div class="contact-info mr-auto">
            <ul>
              <li><i class="icofont-envelope"></i><a href="mailto:eklavyaschools@gmail.com">eklavyaschools@gmail.com</a></li>
              <li><i class="icofont-phone"></i> +917347004040</li>
              <li><i class="icofont-clock-time icofont-flip-horizontal"></i> Affiliated to CBSE : 1631264</li>
            </ul>
          </div>
          <div class="cta">
            <a href="{%url 'index'%}#about" class="scrollto">Get Started</a>
          </div>
        </div>
      </section>
      <!-- ======= Header ======= -->
      <header id="header">
        <div class="container d-flex">
          <div class="logo mr-auto">
            <h1 class="text-light"><a href="{%url 'index'%}"><span>THE EKLAVYA</span></a></h1> 
            <!-- Uncomment below if you prefer to use an image logo -->
            <!--<a href="index.html"><img src="{% static 'assets/img/logo.png'%}" alt="" class="img-fluid"></a>-->
          </div>
          <nav class="nav-menu d-none d-lg-block">
            <ul>
              <li class="active"><a href="{%url 'index'%}">Home</a></li>
              <li class="drop-down">
                <a href="#">About</a>
                <ul>
                  <li><a href="{% url 'school' %}">The School</a></li>
                  <li><a href="{% url 'smc' %}">SMC</a></li>
                  <li><a href="{% url 'team' %}">Acadmic Team</a></li>
                  <li><a href="{% url 'cbse' %}">CBSE Info</a></li>
                </ul>
              </li>
              <li><a href="{% url 'disclosure' %}">Mandatory Public Disclosure Info</a></li>
              <li><a href="{% url 'admission' %}">Admission</a></li>
              
              <li class="drop-down"><a href="#">Academic</a>
                <ul>
                  <li><a href="{% url 'academic' %}">Academic Session</a></li>
                  <li><a href="{% url 'award' %}">Eklavya Rattan</a></li>
                  <li><a href="{% url 'book' %}">Book List</a></li>
                </ul>
              </li>
              <li><a href="{% url 'sports' %}">Sports</a></li>
              <li><a href="{% url 'gallery' %}">Gallery</a></li>
              <li><a href="{%url 'index'%}#contact">Contact</a></li>
          
            </ul>
          </nav><!-- .nav-menu -->
          
        </div>
    </header><!-- End Header -->        
        {% block content %}

        {% endblock %}
        <footer id="footer">
          <div class="footer-top">
            <div class="container">
              <div class="row">
                <div class="col-lg-6 col-md-4 footer-contact">
                  <h3>The Eklavya Convent School</h3>
                  <p>
                    A unit of Seth Bihari Lal Memorial Educational Trust (regd.)<br>
                    <strong>Head Office:</strong> MCB Z3 04617, St No. 3,
                    Near Improvement Trust,<br>
                    Dr. Mela Ram Road, Distt. - Bathinda, Punjab (151001)<br>
                    <strong>Phone:</strong> +91 7347004040<br>
                    <strong>Email:</strong> ceotecs22@gmail.com<br>
                  </p>
                </div>
      
                <div class="col-lg-3 col-md-4 footer-links">
                  <h4>Useful Links</h4>
                  <ul>
                    <li><i class="bx bx-chevron-right"></i> <a href="{%url 'index'%}">Home</a></li>
                    <li><i class="bx bx-chevron-right"></i> <a href="{%url 'index'%}#about">About us</a></li>
                    <li><i class="bx bx-chevron-right"></i> <a href="{%url 'index'%}#advisory">Advisory Borad</a></li>
                  </ul>
                </div>
      
                <div class="col-lg-3 col-md-6 footer-links">
                  <h4>Our Services</h4>
                  <ul>
                    <li><i class="bx bx-chevron-right"></i> <a href="{%url 'index'%}#whyourschool">Why Choose our School</a></li>
                    <li><i class="bx bx-chevron-right"></i> <a href="{%url 'index'%}#learners">Our Learners are</a></li>
                    
                  </ul>
                </div>
      
      
              </div>
            </div>
          </div>
      
          <div class="container d-lg-flex py-4">
      
            <div class="mr-lg-auto text-center text-lg-left">
              <div class="copyright">
                &copy; Copyright <strong><span>The Eklavya Convent School</span></strong>. All Rights Reserved
              </div>
              <div class="credits">
               
                Powered by <a href="https://www.codigomantra.com/">Codigo Mantra Private Limited</a>
              </div>
            </div>
            <div class="social-links text-center text-lg-right pt-3 pt-lg-0">
              <a href="https://twitter.com/ER_RohitKansal" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="https://www.facebook.com/TheEklavyaConventSchool/" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="https://www.youtube.com/channel/UCEgU3-3W-DhV5MI-BLCBYZw" class="google-plus"><i class="bx bxl-youtube"></i></a>
              <a href="https://www.linkedin.com/in/er-rohit-k-kansal-9a851771/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
          </div>
        </footer><!-- End Footer -->      
        <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>
        <!-- Vendor JS Files -->
        <script src="{% static 'assets/vendor/jquery/jquery.min.js'%}"></script>
        <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
        <script src="{% static 'assets/vendor/jquery.easing/jquery.easing.min.js'%}"></script>
        <script src="{% static 'assets/vendor/php-email-form/validate.js'%}"></script>
        <script src="{% static 'assets/vendor/jquery-sticky/jquery.sticky.js'%}"></script>
        <script src="{% static 'assets/vendor/venobox/venobox.min.js'%}"></script>
        <script src="{% static 'assets/vendor/owl.carousel/owl.carousel.min.js'%}"></script>
        <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js'%}"></script>
        <script src="{% static 'assets/vendor/aos/aos.js'%}"></script>
        <!-- Template Main JS File -->
        <script src="{% static 'assets/js/main.js'%}"></script>      
</body>

</html>