{% extends "base.html" %}
{% block title %}About{% endblock %}

{% block content %}
{% load static%}
<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">
        <ol>
          <li><a href="{% url 'index'%}">Home</a></li>
          <li>About</li>
        </ol>
        <h2 style="text-align: center;">The Eklavya Convent School</h2>
      </div>
    </section><!-- End Breadcrumbs -->

    
    <section id="about" class="about section-bg">
      <div class="container">
        <div class="row">
          <div class="col-xl-5 col-lg-6 video-box d-flex justify-content-center align-items-stretch" data-aos="fade-right">
            <a href="https://youtu.be/L6iPVIpgPWU" class="venobox play-btn mb-4" data-vbtype="video" data-autoplay="true"></a>
          </div>
  
          <div class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">
            <h3 data-aos="fade-up">About us</h3>
            <p data-aos="fade-up" style="text-align: justify;">
              The Eklavya Convent School (A unit of Seth Bihari Lal Memorial 
              Educational Trust (Regd.) Bathinda) had started with an objective to 
              help every child succeed in life and be a productive and 
              responsible global citizen with zeal for knowledge.<br> 
              The School believes in, "Performance of every child matters" and 
              dedicated to provide an atmosphere which will be challenging, 
              caring and goal directed in order to nurture innate potential of 
              every child. <br>
              The School is dedicated to nature future professionals
              who will be inquisitive, proactive, lifelong learners, change agents, 
              value (moral/profession). 
              <br>
              The School believes in partnership and 
              enrolment of all the stake holders (students, teachers and parents) 
              for holistic development of children.<br>
               At The Eklavya Convent School we are committed to nurture future citizens 
               who are connected with self, others as well as environment.
            </p>
  
            <div class="icon-box" data-aos="fade-up">
              <div class="icon"><i class='bx bx-target-lock' ></i></div>
              <h4 class="title"><a href="">Vision</a></h4>
                <ul class="description" style="font-size: medium;">
                  <li>To Nurture Global Citizens with Indian Values.</li>
                </ul>
            </div>
  
            <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
              <div class="icon"><i class='bx bx-bullseye bx-spin' ></i></div>
              <h4 class="title"><a href="">Mission</a></h4>
              <ul class="description" style="font-size: medium;">
                <li>To help parents become better parents.</li>
                <li>To help future citizens imbibe future skills and entrepreneurship capability.</li>
                <li>To help future citizens imbibe vocational skills.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End About Section -->
    <section id="about_logo" class="about section-bg">
      <div class="container">
        <div class="row">
          <div class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">
            <h3 data-aos="fade-up">Our Logo</h3>
            <p data-aos="fade-up" style="text-align: justify;">
              Logo of The Eklavya Convent School is inspired by naturality 
              and respecting individuality of every child. The Logo represents 
              diversity of classroom. <br>The seven colours in the sun ray i.e. "VIBGYOR" 
              which depicts unity in diversity and is a perfect example of collaboration. 
              Rainbow further depicts, "learning to be" i.e. you can work together and be 
              a part of a team without losing individuality. Seven colours in the logo 
              represent school's philosophy and commitment to respect and nurture 
              individuality of every child. <br>The Globe at the centre represents importance
               of being global yet grounded in one's own culture, heritage, and values. 
               <br>It further signifies importance of overall development of a child to be a 
               productive and responsible global citizen. The tilted logo signifies, 
               "to achieve your passion, you have to toil, try unique ways and be goal
                directed... live a goal directed life". 
            </p>
          </div>
          <div class="col-xl-5 col-lg-6 " data-aos="fade-right">
            <img src="{% static 'assets/img/tecs.png'%}" style="width: 80%;display:block; margin-left:auto;margin-right:auto;margin-top:50px" >
          </div>
        </div>
      </div>
    </section>

  </main><!-- End #main -->
{% endblock %}