{% extends "base.html" %}
{% block title %}Admission{% endblock %}

{% block content %}
{% load static%}
<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">
        <ol>
          <li><a href="{% url 'index'%}">Home</a></li>
          <li>Academic</li>
        </ol>
        <h2 style="text-align: center;" >Academic Session</h2>
      </div>
    </section><!-- End Breadcrumbs -->
   
    <section class="contact">
      <div class="container">
        <img src="{% static 'assets/img/team.jpg'%}" style="width: 100%;" >
        <div class="row justify-content-center" style="line-height: 2.5; text-align: justify;">
          <div class="col-lg-12 mt-4" data-aos="fade-up">
            <div class="info-box">
              <i class='bx bxs-user-badge'></i>
              <h3>Scholastics</h3>
              <p>"The Eklavya Convent School, Bathinda" is committed to inculcating competitive spirit and deep instinct to excel in academics and activities among its students. It follows the CBSE syllabi within which, flexibility of methodology and the use of experiential learning systems are strongly encouraged and which helps eliminate the need to learn by rote and develop a healthy and positive attitude towards learning. Our system of evaluation takes into account the individualities of different children to provide adequate feedback on the student’s learning without putting undue pressure. As the child progresses through the classes, the assessment is gradually modified to prepare external tests and competitive exams.</p>
            </div>
          </div>
          <div class="col-lg-12 mt-4" data-aos="fade-up" data-aos-delay="100">
            <div class="info-box">
              <i class='bx bxs-user-badge'></i>
              <h3>EXAMINATION</h3>
              <p>Half yearly examinations in the month of September.<br>
                Annual examinations in the month of March.<br>
                Weekly assessment- Two cycles of weekly assessment in Term-1 and Term-2 followed by activities, projects, field trips, practical, debate etc.
              </p>
              
            </div>
          </div> 
        </div>
      </div>
    </section><!-- End Contact Section -->
  </main><!-- End #main -->
{% endblock %}