{% extends "base.html" %}
{% block title %}Team{% endblock %}

{% block content %}
{% load static%}
<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">
        <ol>
          <li><a href="{%url 'index'%}">Home</a></li>
          <li>Academic Team</li>
        </ol>
        <h2 style="text-align: center;">Academic Team</h2>
      </div>
    </section><!-- End Breadcrumbs -->
    <img src="{% static 'assets/img/team1.JPG' %}" style="width: 100%;" >
    <section class="inner-page">
      <div class="container">
        <div>
          <table class="table table-hover">
            <thead>
              <tr>
                <th>S.No.</th>
                <th>Name</th>
                <th>Father's/Spouse's Name</th>
                <th>Designation</th>
                <th>Qualification</th>
              </tr>
            </thead>
            <tbody>
              {% if team %}
              {% for mbr in team %}
              <tr>
                <td>{{mbr.id}}</td>
                <td>{{mbr.mbr_name}}</td>
                <td>{{mbr.fname}}</td>
                <td>{{mbr.designation}}</td>
                <td>{{mbr.qualification}}</td>
              </tr>
              {% endfor %}
              {% endif %}
            </tbody>
          </table>
        </div>
      </div>
    </section>

  </main><!-- End #main -->
{% endblock %}