{% extends "base.html" %}
{% block title %}Admission{% endblock %}

{% block content %}
{% load static%}
<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">
        <ol>
          <li><a href="{% url 'index'%}">Home</a></li>
          <li>Admission</li>
        </ol>
        <h2 >Admission</h2>
      </div>
    </section><!-- End Breadcrumbs -->
    <img src="{% static 'assets/img/admission.png' %}" style="width: 100%; height: 300px;" >
    <section class="team section-bg">
      <div class="container">
        <div style="float: none; margin: 0 auto;">
          <h4 style="font-family:   cursive; text-align: justify; color: #f05431;  line-height: 1.6;">
            Admission in "The Eklavya" is an easy process forms are available at
            the school or online to be filled and submitted in the Administration office. Parent and Student also get
            to meet the Principal of the school on the day they come to visit the school.
          </h4>
        </div>
        
      </div>
    </section>
    <section class="contact">
      <div class="container">
        <div class="row justify-content-center" style="line-height: 2.5; text-align: justify;">
          <div class="col-lg-12 mt-4" data-aos="fade-up">
            <div class="info-box">
              <i class='bx bxs-user-badge'></i>
              <h3>ADMISSION PROCEDURE</h3>
              <p>Steps for Admission Procedure</p>
              <ol style="margin-left: 60px; margin-top: 10px; ">
                <li>Application form is available in the administration Office between 8.00am and 3.00pm on the basis of vacancy available in respective classes.</li>
                <li>The Application form has to be filled online under admission link on website or to be collected from admission office.</li>
                <li>The Application form has to be submitted along with required documents at the admission office.</li>
                <li>On successful submission of form, parent will be informed through Email & SMS about date and time to visit the school campus for interaction & verification of original documents.</li>
                <li>On selection for admission, parent will receive a confirmation through Email & SMS.</li>
                <li>Parent is required to complete the Enrollment formalities by remitting the "Amount payable at the time of admission".</li>
                <li>Amount payable at the time of admission confirmation has to be deposited in three working days  may be paid Cash/ NEFT/ Net banking.</li>
              </ol>
            </div>
          </div>
          <div class="col-lg-12 mt-4" data-aos="fade-up" data-aos-delay="100">
            <div class="info-box">
              <i class='bx bx-analyse'></i>
              <h3>ELIGIBILITY PROCEDURE</h3>
              <div class="col-lg-11 mt-4" style="margin-left: 60px;" data-aos="fade-up" data-aos-delay="200">
                <div class="info-box" >
                  <h3 style="margin-left: auto;">Admission in Pre Primary :</h3>
                  <p style="margin-left: auto; margin-bottom: 10px;"><b>Age: </b>The child should be at least three (03) years old and at most (04) years as on 31st March 2020 for admission in Pre-School Class.</p>
                  <p style="margin-left: auto;"><b>Documents Required:</b></p>
                  <ol>
                    <li>Self attested photocopy of the birth certificate issued by the competent authority.</li>
                    <li>Self attested copy of Documents(Adhaar Card, Ration Card, VoterId Card, Passport) valid as proof of Address</li>
                    <li>Adhaar Card of the child, parents and guardians</li>
                    <li>Four recent Photographs of student, parents and guardians</li>
                  </ol>
                </div>
              </div>
              <div class="col-lg-11 mt-4" style="margin-left: 60px;" data-aos="fade-up" data-aos-delay="300">
                <div class="info-box" >
                  <h3 style="margin-left: auto;">Admission in Std I-VIII</h3>
                  <p style="margin-left: auto;"><b>Documents Required:</b></p>
                  <ol>
                    <li>Self attested photocopy of the birth certificate issued by the competent authority.</li>
                    <li>Self attested copy of Documents(Adhaar Card, Ration Card, VoterId Card, Passport) valid as proof of Address</li>
                    <li>Adhaar Card of the child, parents and guardians</li>
                    <li>Four recent Photographs of student, parents and guardians</li>
                    <li>Leaving Certificate or Transfer Certificate of former School.</li>
                    <li>Result Card of former school.</li>
                  </ol>
                </div>
              </div>
              <div class="col-lg-11 mt-4" style="margin-left: 60px;" data-aos="fade-up" data-aos-delay="400">
                <div class="info-box" >
                  <h3 style="margin-left: auto;">Admission in Std IX</h3>
                  <h6 style="margin-left: auto;">Admission in Std IX: in accordance with CBSE procedures</h6>
                </div>
              </div>
            </div>
            
          </div>
          
        </div>
      </div>
    </section><!-- End Contact Section -->
  </main><!-- End #main -->
{% endblock %}