{% extends "base.html" %}
{% block title %}Book{% endblock %}

{% block content %}
{% load static%}
<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">
        <ol>
          <li><a href="{%url 'index'%}">Home</a></li>
          <li>Books</li>
        </ol>
        <h2 style="text-align: center;">Book List</h2>
      </div>
    </section><!-- End Breadcrumbs -->

    <section class="inner-page pt-3">
      <div class="container">
        <p>
        </p>
        <iframe type="application/pdf" src="{% static 'assets/doc/BookList.pdf'%}#view=FitH" width="100%" height="1400px" ></iframe>
      </div>
    </section>

  </main><!-- End #main -->
{% endblock %}