{% extends "base.html" %}
{% block title %}CBSE Info{% endblock %}

{% block content %}
{% load static%}
<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">
        <ol>
          <li><a href="{% url 'index'%}">Home</a></li>
          <li>CBSE</li>
        </ol>
        <h2 style="text-align: center;">CBSE Information</h2>
      </div>
    </section><!-- End Breadcrumbs -->

    <section class="inner-page pt-3">
      <div class="container">
        <p>
          School is Affiliated to CBSE vide no. 1631264 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <a href="https://youtu.be/L6iPVIpgPWU" class="venobox play-btn mb-4" data-vbtype="video" data-autoplay="true" style="float: right;"><b>Click here for CBSE Inspection Video</b></a>
        </p>
        <iframe type="application/pdf" src="{% static 'assets/doc/1.pdf'%}#view=FitH" width="100%" height="1400px" ></iframe>
      </div>
    </section>

  </main><!-- End #main -->
{% endblock %}