{% extends "base.html" %}
{% block title %}Mandatory Public Disclosure ECS Info{% endblock %}

{% block content %}
{% load static%}
<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">
        <ol>
          <li><a href="{% url 'index'%}">Home</a></li>
          <li>Mandatory Public Disclosure Info</li>
        </ol>
        <h2 style="text-align: center;">Mandatory Public Disclosure Information</h2>
      </div>
    </section><!-- End Breadcrumbs -->

    <section class="inner-page pt-3">
      <div class="container">
        <iframe type="application/pdf" src="https://futurely-static-files.s3.eu-south-1.amazonaws.com/images/Mandatory+Public+Disclosure-ECS.pdf#view=FitH" width="100%" height="1400px" ></iframe>
      </div>
    </section>

  </main><!-- End #main -->
{% endblock %}