{% extends "base.html" %}
{% block title %}Gallery{% endblock %}

{% block content %}
{% load static%}
<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">
        <ol>
          <li><a href="{% url 'index'%}">Home</a></li>
          <li style="text-align: center;">Gallery</li>
        </ol>
      </div>
    </section><!-- End Breadcrumbs -->
     <!-- ======= Portfolio Section ======= -->
  <section id="portfolio" class="inner-page pt-3">
    <div class="container portfolio">

      <div class="section-title">
        <h2 data-aos="fade-up">Gallery</h2>
        
      </div>

      <div class="row" data-aos="fade-up" data-aos-delay="100">
        <div class="col-lg-12 d-flex justify-content-center">
          <ul id="portfolio-flters">
            <li data-filter="*" class="filter-active">All</li>
            {% for cat in pic_cat %}
            <li data-filter=".filter-{{cat}}">{{cat}}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
      
      <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">
        {%for p in pictureObj %}
        <div class="col-lg-4 col-md-6 portfolio-item filter-{{p.pic_category}}">
          <img src="{{p.pic.url}}" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>{{p.pic_title}}</h4>
            <p>{{p.pic_discription}}</p>
            <a href="{{p.pic.url}}" data-gall="portfolioGallery" class="venobox preview-link" title="{{p.pic_title}}"><i class="bx bx-plus"></i></a>
            
          </div>
        </div>
        {% endfor %}
      </div>

    </div>
  </section><!-- End Portfolio Section -->
  </main><!-- End #main -->
{% endblock %}