{% extends "base.html" %}
{% block title %}HOME{% endblock %}
{% block content %}
{% load static%}
<section id="hero" class="d-flex flex-column justify-content-center align-items-center">
 
</section><!-- End Hero -->
<main id="main">

  <!-- ======= Why Us Section ======= -->
  <section id="why-us" class="why-us">
    <div class="container">
      <div class="row">
        <div class="col-xl-4 col-lg-5" data-aos="fade-up">
          <div class="content" style="text-align: justify;">
            <h3 style="text-align: center;">The Eklavya Convent School</h3>
            <p>
              The Eklavya Convent School had started with a vision
               "To Nurture Global Citizens with Indian Values". <br>Our main objective is 
               to help every child succeed in life and be a productive and responsible 
               global citizen with zeal for knowledge.
            </p>
            <div class="text-center">
              <a href="#about" class="more-btn">Learn More <i class="bx bx-chevron-right"></i></a>
            </div>
          </div>
        </div>
        <div class="col-xl-8 col-lg-7 d-flex">
          <div class="icon-boxes d-flex flex-column justify-content-center">
            <div class="row">
              <div class="col-xl-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                <div class="icon-box mt-4 mt-xl-0" style="text-align: center;">
                  <i class='bx bxs-user-rectangle bx-burst' ></i>
                  <h4>Expert Teachers</h4>
                  <p>Our teachers are aware of what they are doing; 
                    they monitor and adjust their teaching behaviours to 
                    bring out the best in their students.
                  </p>
                </div>
              </div>
              <div class="col-xl-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
                <div class="icon-box mt-4 mt-xl-0">
                  <i class='bx bx-run bx-fade-right' ></i>
                  <h4>The Sports School</h4>
                  <p>Comprehensive and integrated curriculum that balances both sports and academics to encourage young sports enthusiasts.</p>
                </div>
              </div>
              <div class="col-xl-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                <div class="icon-box mt-8 mt-xl-0">
                  <i class='bx bxs-institution bx-burst' ></i>
                  <h4>World Class Infrastructure</h4>
                  <p style="text-align: center;"> The School is Spacious and having well-ventilated classrooms, well-equipped labs, Library and Playgrounds.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section><!-- End Why Us Section -->

  <!-- ======= About Section ======= -->
  <section id="about" class="about section-bg">
    <div class="container">
      <div class="row">
        <div class="col-xl-5 col-lg-6 video-box d-flex justify-content-center align-items-stretch" data-aos="fade-right">
          <a href="https://youtu.be/L6iPVIpgPWU" class="venobox play-btn mb-4" data-vbtype="video" data-autoplay="true"></a>
        </div>

        <div class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">
          <h3 data-aos="fade-up">About us</h3>
          <p data-aos="fade-up" style="text-align: justify;">
            The Eklavya Convent School (A unit of Seth Bihari Lal Memorial 
            Educational Trust (Regd.) Bathinda) had started with an objective to 
            help every child succeed in life and be a productive and 
            responsible global citizen with zeal for knowledge.<br> 
            The School believes in, "Performance of every child matters" and 
            dedicated to provide an atmosphere which will be challenging, 
            caring and goal directed in order to nurture innate potential of 
            every child. <br>
            The School is dedicated to nature future professionals
            who will be inquisitive, proactive, lifelong learners, change agents, 
            value (moral/profession). 
            <br>
            The School believes in partnership and 
            enrolment of all the stake holders (students, teachers and parents) 
            for holistic development of children.<br>
             At The Eklavya Convent School we are committed to nurture future citizens 
             who are connected with self, others as well as environment.
          </p>

          <div class="icon-box" data-aos="fade-up">
            <div class="icon"><i class='bx bx-target-lock' ></i></div>
            <h4 class="title"><a href="">Vision</a></h4>
              <ul class="description" style="font-size: medium;">
                <li>To Nurture Global Citizens with Indian Values.</li>
              </ul>
          </div>

          <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
            <div class="icon"><i class='bx bx-bullseye bx-spin' ></i></div>
            <h4 class="title"><a href="">Mission</a></h4>
            <ul class="description" style="font-size: medium;">
              <li>To help parents become better parents.</li>
              <li>To help future citizens imbibe future skills and entrepreneurship capability.</li>
              <li>To help future citizens imbibe vocational skills.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section><!-- End About Section -->
  <section id="about_logo" class="about section-bg">
    <div class="container">
      <div class="row">
        <div class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">
          <h3 data-aos="fade-up">Our Logo</h3>
          <p data-aos="fade-up" style="text-align: justify;">
            Logo of The Eklavya Convent School is inspired by naturality 
            and respecting individuality of every child. The Logo represents 
            diversity of classroom. <br>The seven colours in the sun ray i.e. "VIBGYOR" 
            which depicts unity in diversity and is a perfect example of collaboration. 
            Rainbow further depicts, "learning to be" i.e. you can work together and be 
            a part of a team without losing individuality. Seven colours in the logo 
            represent school's philosophy and commitment to respect and nurture 
            individuality of every child. <br>The Globe at the centre represents importance
             of being global yet grounded in one's own culture, heritage, and values. 
             <br>It further signifies importance of overall development of a child to be a 
             productive and responsible global citizen. The tilted logo signifies, 
             "to achieve your passion, you have to toil, try unique ways and be goal
              directed... live a goal directed life". 
          </p>
        </div>
        <div class="col-xl-5 col-lg-6 " data-aos="fade-right">
          <img src="{% static 'assets/img/tecs.png'%}" style="width: 80%;display:block; margin-left:auto;margin-right:auto;margin-top:50px" >
        </div>
      </div>
    </div>
  </section>

  <section id="clients" class="clients">
    <div class="container" data-aos="fade-up">
      <div class="section-title" >
        <h2>We are Connected with</h2>
      </div>
      <div class="row">
        <div class="owl-carousel clients-carousel">
          <img src="{% static 'assets/img/clients/cbse.png'%}" alt="">
          <img src="{% static 'assets/img/clients/codigo.png'%}" alt="">
          <img src="{% static 'assets/img/clients/iqf.png'%}" alt="">
          <img src="{% static 'assets/img/clients/byjus.png'%}" alt="">
          <img src="{% static 'assets/img/clients/oxford.png'%}" alt="">
          <img src="{% static 'assets/img/clients/ncert.png'%}" alt="">
        </div>
      </div>
    </div>
  </section>

  <!-- ======= Services Section ======= -->
  <section id="learners" class="services section-bg">
    <div class="container">
      <div class="section-title" data-aos="fade-up">
        <h2>Our Learners are</h2>
      </div>
      <div class="row">
        <div class="col-lg-3 col-md-6" data-aos="fade-up">
          <div class="icon-box">
            <div class="icon"><img src="{% static 'assets/img/values/1.png'%}" style="width:80px; height: 80px;" alt=""></div>
            <h4 class="title"><a href="javascript:void(0)">OPEN MINDED</a></h4>
            <p class="description">Let yourself be open and life will be easier. A spoon of salt in a glass of water makes the water undrinkable. A spoon of salt in a lake is almost unnoticed.</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
          <div class="icon-box">
            <div class="icon"><img src="{% static 'assets/img/values/2.png'%}" style="width:80px; height: 80px;" alt=""></div>
            <h4 class="title"><a href="javascript:void(0)">HARD WORKER</a></h4>
            <p class="description">Our greatest weakness lies in giving up. The most certain way to succeed is always to try just one more time.</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="200">
          <div class="icon-box">
            <div class="icon"><img src="{% static 'assets/img/values/3.png'%}" style="width:80px; height: 80px;" alt=""></div>
            <h4 class="title"><a href="javascript:void(0)">COLLABORATOR</a></h4>
            <p class="description">Coming together is a beginning, staying together is progress, and working together is success.</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="300">
          <div class="icon-box">
            <div class="icon"><img src="{% static 'assets/img/values/4.png'%}" style="width:80px; height: 80px;" alt=""></div>
            <h4 class="title"><a href="javascript:void(0)">LEADERSHIP</a></h4>
            <p class="description">A good objective of leadership is to help those who are doing poorly to do well and to help those who are doing well to do even better.</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="400">
          <div class="icon-box">
            <div class="icon"><img src="{% static 'assets/img/values/5.png'%}" style="width:80px; height: 80px;" alt=""></div>
            <h4 class="title"><a href="javascript:void(0)">LIFE LONG LEARNER</a></h4>
            <p class="description">Tell me and I forget, teach me and I may remember, involve me and I learn.
              <br><i>"Develop a passion for learning. If you do, you will never cease to grow"</i>
            </p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="500">
          <div class="icon-box">
            <div class="icon"><img src="{% static 'assets/img/values/6.png'%}" style="width:80px; height: 80px;" alt=""></div>
            <h4 class="title"><a href="javascript:void(0)">RISK TAKER</a></h4>
            <p class="description">The biggest risk is not taking any risk… In a world that changing really quickly,
               the only strategy that is guaranteed to fail is not taking risks.</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="500">
          <div class="icon-box">
            <div class="icon"><img src="{% static 'assets/img/values/7.png'%}" style="width:80px; height: 80px;" alt=""></div>
            <h4 class="title"><a href="javascript:void(0)">TEAM WORKER</a></h4>
            <p class="description">Talent wins games, but teamwork and intelligence win championships.
              <br><i>"Individually, we are one drop. Together, we are an ocean."</i>
            </p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="500">
          <div class="icon-box">
            <div class="icon"><img src="{% static 'assets/img/values/8.png'%}" style="width:80px; height: 80px;" alt=""></div>
            <h4 class="title"><a href="javascript:void(0)">THINKER, INNOVATOR</a></h4>
            <p class="description">You can’t solve a problem on the same level that it was created. You have to rise above it to the next level.</p>
          </div>
        </div>
      </div>

    </div>
  </section><!-- End Services Section -->

 <!-- ======= Values Section ======= -->
 <section id="whyourschool" class="values">
  <div class="container">
    <h1 style="text-align: center;margin-bottom: 30px; margin-top: -20px;">Why Choose Our School</h1>
    <div class="row">
      <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up">
        <div class="card" style="background-image: url('{% static 'assets/img/whyus1.JPG'%}');">
          <div class="card-body" >
            <h5 class="card-title"><a href="javascript:void(0)">World Class Sports and Academic Infrastructure</a></h5>
            <p class="card-text" style="text-align: justify;">5 acres of state-of-the-art infrastructure for both sports and academics, designed to optimize and support the development of youngsters.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="100">
        <div class="card" style="background-image: url('{% static 'assets/img/whyus21.jpg'%}');">
          <div class="card-body">
            <h5 class="card-title"><a href="javascript:void(0)"> Train with the Expert Teachers & Coaches</a></h5>
            <p class="card-text" style="text-align: justify;">Our team consists of some of the most prominent 
              names in the Indian Education and Sports sector to provide our students the 
              opportunity to learn at their maximum potential.</p>
          </div>
        </div>

      </div>
      <div class="col-md-6 d-flex align-items-stretch mt-4" data-aos="fade-up" data-aos-delay="200">
        <div class="card" style="background-image: url('{% static 'assets/img/whyus3.png'%}');">
          <div class="card-body">
            <h5 class="card-title"><a href="javascript:void(0)">Health is wealth (Medical Room)</a></h5>
            <p class="card-text" style="text-align: justify;">We have a well equipped medical room  
              with a full time Doctor to provide necessary first aid to the students in 
              time of emergency. An annual health check up including dental and 
              eye check-up by specialists is a regular feature along with 
              maintaining medical record of each and every child.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 d-flex align-items-stretch mt-4" data-aos="fade-up" data-aos-delay="300">
        <div class="card" style="background-image: url('{% static 'assets/img/whyus4.JPG'%}');">
          <div class="card-body">
            <h5 class="card-title"><a href="javascript:void(0)">Health and Hygiene</a></h5>
            <p class="card-text" style="text-align: justify;">At Eklavya hygiene comes first we have separate washrooms
              gender wise and a one for the Tiny Tots. 
              Western and Indian style to suite the student choice. 
              Special care is taken to keep it permanently clean.
          </p>
          </div>
        </div>
      </div>
    </div>

  </div>
</section><!-- End Values Section -->

  <!-- ======= Testimonials Section ======= -->
  <section id="testimonials" class="testimonials" >
    <div class="container" >
      <div class="owl-carousel testimonials-carousel">
        {% for msg in objMsg %}
        <div class="testimonial-item">
          <img src="{{msg.cover.url}}" class="testimonial-img" alt="">
          <h3>{{msg.m_name}} </h3>
          <h4>{{msg.about}}</h4>
          <p>
            <b>
            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
            {{msg.message}}
            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </b>
          </p>
        </div>
        {% endfor %}
      </div>

    </div>
  </section><!-- End Testimonials Section -->
  <!-- ======= Team Section ======= -->
  <section id="advisory" class="team section-bg">
    <div class="container">
      <div class="section-title">
        <h2 data-aos="fade-up">Advisory Pannel</h2>
        <p data-aos="fade-up">
          The School Advisory Board has a key role in influencing the 
          direction of the school by offering their experience and expertise 
          to strengthen the decision-making process to support the strategic 
          development of the school and ensure it is meeting the needs of the 
          children.
        </p>
      </div>

      <div class="row">
        {% if adv %}
        {% for i in adv %}
        <div class="col-lg-3 col-md-6  d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
          <div class="member">
            <div class="member-img">
              <img src="{{i.cover.url}}" class="img-fluid" alt="">
            
            </div>
            <div class="member-info">
              <h4>{{i.mbr_name}}</h4>
              <span>{{i.about}}</span>
            </div>
          </div>
        </div>
        {% endfor %}
        {% endif %}
      </div>

    </div>
  </section><!-- End Team Section -->

  <!-- ======= Contact Section ======= -->
  <section id="contact" class="contact">
    <div class="container">
      <div class="section-title">
        <h2 data-aos="fade-up">Contact</h2>
        <p data-aos="fade-up"></p>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-6 mt-4" data-aos="fade-up">
          <div class="info-box">
            <i class="bx bx-map"></i>
            <h3>Our Address</h3>
            <p>The Eklavya Convent School
              At & Post - VPO Ganga-Ablu Ki,<br>
              Teh.- Goniana Mandi,
              Distt. - Bathinda,
              Punjab (151201)</p>
          </div>
        </div>
        <div class="col-lg-3 mt-4" data-aos="fade-up" data-aos-delay="100">
          <div class="info-box">
            <i class="bx bx-envelope"></i>
            <h3>Email Id</h3>
            <p style="margin-left: 40px;">
              ceotecs22@gmail.com<br>
              eklavyaschools@gmail.com
            </p>
          </div>
        </div>
        <div class="col-lg-3 mt-4" data-aos="fade-up" data-aos-delay="200">
          <div class="info-box">
            <i class="bx bx-phone-call"></i>
            <h3>Call Us</h3>
            <p>+91 7347004040 <br> +91 7347004043</p>
          </div>
        </div>
      </div>
      <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="300">
        <div class="col-lg-12 mt-4">
          <form action="" method="post" role="form" class="php-email-form">
            {% csrf_token %} 
            <div class="form-row">
              <div class="col-md-6 form-group">
                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                <div class="validate"></div>
              </div>
              <div class="col-md-6 form-group">
                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                <div class="validate"></div>
              </div>
              <div class="col-md-6 form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:8" data-msg="Please enter at least 8 chars of subject" />
                <div class="validate"></div>
              </div>
              <div class="col-md-6 form-group">
                <input type="text" class="form-control" name="contact" id="contact" placeholder="Contact Number" data-rule="required" data-msg="Please enter your contact Number" />
                <div class="validate"></div>
              </div>
            </div>
            
            <div class="form-group">
              <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
              <div class="validate"></div>
            </div>
            <div class="mb-3">
              <div class="loading">Sending...</div>
              <div class="error-message"></div>
              <div class="sent-message">Your message has been sent. Thank you!</div>
            </div>
            <div class="text-center"><button type="submit">Send Message</button></div>
          </form>
        </div>
      </div>
    </div>
  </section><!-- End Contact Section -->
</main><!-- End #main -->

{% endblock %}