{% extends "base.html" %}
{% block title %}Award{% endblock %}

{% block content %}
{% load static%}
<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">
        <ol>
          <li><a href="{% url 'index'%}">Home</a></li>
          <li>Award</li>
        </ol>
        <h2>Eklavya Rattan</h2>
      </div>
    </section><!-- End Breadcrumbs -->
    <section class="about section-bg">
        <div class="container">
          <div class="row">
            <div class="col-xl-7 col-lg-6 " data-aos="fade-right">
              <img src="{% static 'assets/img/rattan1.png'%}" style="width: 100%;display:block; margin-left:auto;margin-right:auto;margin-top:50px" >
            </div>
            <div class="col-xl-5 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">
                <h3 data-aos="fade-up" style="font-family: cursive; text-align: center;  color: black;  line-height: 1.6;" >Eklavya Rattan Award</h3>
                <h5 data-aos="fade-up" style="font-family:   cursive; text-align: justify;  line-height: 1.6;">
                  The Eklavya Rattan Award is given to meritorious student of our school,  
                  who have spectacular and outstanding performance in academic and sports, 
                  having 8 qualities (Open Minded, Hard Worker, Collaborator, Leadership, Life-Long
                   Learner , Risk Taker, Team Worker, Thinker & Innovator) 
                  and having social change contribution.
                </h5>
              </div>
          </div>
        </div>
    </section>
  </main><!-- End #main -->
{% endblock %}