{% extends "base.html" %}
{% block title %}SMC{% endblock %}

{% block content %}
{% load static%}
<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">
        <ol>
          <li><a href="{% url 'index'%}">Home</a></li>
          <li>SMC</li>
        </ol>
        <h2 style="text-align: center;">School Management Committee</h2>
      </div>
    </section><!-- End Breadcrumbs -->
     <!-- ======= Team Section ======= -->
     <section id="advisory" class="team section-bg">
      <div class="container">
        <div class="row">
          {% if smc %}
         
          {% for i in smc %}
          <div class="col-lg-3 col-md-6  d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="{% widthratio  i.id 1 200 %}">
            <div class="member">
              <div class="member-img">
                <img src="{{i.cover.url}}" class="img-fluid" alt="">
              </div>
              <div class="member-info">
                <h4>{{i.mbr_name}}</h4>
                <span>{{i.designation}}</span>
              </div>
            </div>
          </div>
          {% endfor %}
         
          {% endif %}
        </div>

      </div>
    </section><!-- End Team Section -->

  </main><!-- End #main -->
{% endblock %}