{% extends "base.html" %}
{% block title %}Sports{% endblock %}

{% block content %}
{% load static%}
<style>
    #id2:hover {
      background-color:  #ff5821;
    }
    #id2:hover #h4id {
        color: white;
    }
    </style>
<main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">
          <ol>
            <li><a href="{% url 'index'%}">Home</a></li>
            <li>Sports</li>
          </ol>
          <h1 style="text-align: center;">Major Dhyan Chand Sports Club</h1>
        </div>
    </section><!-- End Breadcrumbs -->
    <section class="about section-bg" style="padding: 0 0;">
        <div class="container">
          <div class="row">
            <div class="col-xl-7 col-lg-6 " data-aos="fade-right">
              <img src="{% static 'assets/img/1.png'%}" style="width: 100%;display:block; margin-left:auto;margin-right:auto;margin-top:50px" >
            </div>
            <div class="col-xl-5 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">
                <h3 data-aos="fade-up" style="font-family: cursive; text-align: center;  color: black;  line-height: 1.6;" >Eklavya Sports Club</h3>
                <h6 data-aos="fade-up" style="font-family:   cursive; text-align: justify;  line-height: 1.6;">
                  Our School offers several varied programs for different sports 
                  that are directly based on the students’ skills. It is further 
                  diversified if the student wants to pursue the sport of their 
                  interest into a full-fledged career or is already a professional 
                  sportsperson. Whether they are an accomplished athlete, play for 
                  fun, or want to try something new, our programs are mapped on 
                  elite global practices that enable our students to find many 
                  ways to stay active, engaged, and healthy.
                </h6>
              </div>
          </div>
        </div>
        <h1 style="text-align: center; color: black; font-family: cursive;">Sports and Physical Activities</h1>
    </section>
    
    <section id="advisory" class="team section-bg">
        
        <div class="container">
            
            <div class="row">
                {% if sports %}
                {% for i in sports %}
                <div class="col-lg-4 col-md-6  d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="{% widthratio  i.id 1 100 %}">
                    <div id="id2" class="member">
                        
                        <div class="member-img">
                            <img src="{{i.cover.url}}" class="img-fluid" alt="">
                        </div>
                        <div id="id1" class="member-info">
                            <h4 id="h4id">{{i.game_name}}</h4>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </section>
</main><!-- End #main -->
{% endblock %}